name: Build and Deploy

on:
  repository_dispatch:
    types: [build-deploy]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        repository: developerschallenges/developerschallenges
        submodules: true
        token: ${{ secrets.GH_PAT }} 
    - run: |
        sudo timedatectl set-timezone Europe/Stockholm
        npm install hexo-cli -g
        npm ci
        hexo azuresearch
        hexo clean
        hexo generate
    - uses: actions/upload-pages-artifact@v3
      with:
        path: public/

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/deploy-pages@v4
      id: deployment
